// html {
//   scroll-behavior: smooth;
// }

body {
  overflow-x: hidden;
  width: 100vw;
}

main {
  min-height: calc(100vh - 500px);
}

.h-screen {
  height: calc(var(--vh, 1vh) * 100);
}

@import url("https://fonts.cdnfonts.com/css/satoshi");

// .text-satoshi {
//   font-family: 'Satoshi', sans-serif;
// }

.boxshadow {
  -webkit-box-shadow: 0px 50px 250px -110px;
  box-shadow: 0px 50px 250px -110px;
}

.truncate-words {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Aantal regels waarop de tekst wordt afgebroken */
  -webkit-box-orient: vertical;
}

.truncate-20 {
  -webkit-line-clamp: 6;
  /* 20 woorden voor afbreken */
}

.jaar-item {
  h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
}

.text-editor {
  display: grid;
  gap: 2rem;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    a {
      color: #27A5E2;
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 2rem;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 2rem;
  }

  blockquote {
    border-left: 2px solid #27A5E2;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 1rem;
    }
  }

  h1 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    font-family: satoshi;

    // MD
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 46px;
    }

    // LG
    @media (min-width: 1200px) {
      line-height: 70px;
      font-size: 61px;
    }

    // XL
    @media (min-width: 1352px) {
      font-size: 70px;
      line-height: 80px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 600;
    font-family: satoshi;
    color: #27A5E2;

    // MD
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 23px;
    }

    // LG
    @media (min-width: 1200px) {
      line-height: 22px;
      font-size: 28px;
    }

    // XL
    @media (min-width: 1352px) {
      font-size: 25px;
      line-height: 33px;
    }
  }

  iframe {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16/9 !important;
  }
}

.padding-top-xs {
  padding-top: 20px;

  // MD
  @media (min-width: 768px) {
    padding-top: 20px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 30px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 35px;
  }
}

.padding-bottom-xs {
  padding-bottom: 20px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 20px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 35px;
  }
}

.padding-top-s {
  padding-top: 30px;

  // MD
  @media (min-width: 768px) {
    padding-top: 30px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 40px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 60px;
  }
}

.padding-bottom-s {
  padding-bottom: 30px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 30px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 40px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 60px;
  }
}

.padding-top-m {
  padding-top: 40px;

  // MD
  @media (min-width: 768px) {
    padding-top: 40px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 60px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 80px;
  }
}

.padding-bottom-m {
  padding-bottom: 40px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 40px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 60px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 80px;
  }
}

.padding-top-l {
  padding-top: 50px;

  // MD
  @media (min-width: 768px) {
    padding-top: 60px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 80px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 100px;
  }
}

.padding-bottom-l {
  padding-bottom: 50px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 60px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 80px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 100px;
  }
}

.padding-top-xl {
  padding-top: 60px;

  // MD
  @media (min-width: 768px) {
    padding-top: 90px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 160px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 180px;
  }
}

.padding-bottom-xl {
  padding-bottom: 60px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 90px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 160px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 180px;
  }
}


.bg-groen {
  .text-black {
    color: #fff !important;
  }

  .text-oranje {
    color: #fff !important;
  }

  .text-groen {
    color: #fff !important;
  }

  .text-donkergrijs {
    color: #fff !important;
  }
}