// ACCORDION

// .accordion.active .accordion-body {
//     display: block;
//     opacity: 1;
// }

// .accordion .accordion-body {
//     display: none;
//     opacity: 0;
// }

.panel {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

// HEADER

#search-popup.search {
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

header {
  button.button-navbar {
    transition: transform 0.2s ease-out;
    transform: rotate(0deg);

    &.active {
      svg {
        transition-delay: 200ms;
        transition: transform 0.2s ease-out;
        transform: rotate(180deg);
      }
    }
  }
}

.pagination-wordpress {
  span {
    color: #27A5E2;
    font-weight: 500;
  }

  a {
    color: rgb(51, 46, 42);
    font-size: 16px;
    font-weight: 400;
    font-family: nunito sans;

    &.prev {
      margin-right: 15px;
      font-weight: 400;
    }

    &.next {
      margin-left: 15px;
      font-weight: 400;
    }
  }
}