.menuitemoverlay {
  top: -100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.6s ease-in-out;

  .inner_div {
    display: none;

    &.active {
      display: block;
    }
  }

  &.active {
    top: 0;
    transform-origin: top;
    transform: scaleY(1);
    transition: 0.6s ease-in-out;
  }
}

.menumobilemoverlay {
  left: -100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.6s ease-in-out;

  .inner_div {
    display: none;

    &.active {
      display: block;
    }
  }

  &.active {
    left: 0;
    transform-origin: top;
    transform: scaleY(1);
    transition: 0.6s ease-in-out;
  }
}